<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Crear categoría -->
  <ion-item>
    <ion-input placeholder="Nueva categoría" [(ngModel)]="newCategory">
    </ion-input>

    <ion-button
      slot="end"
      (click)="addCategory()"
      [disabled]="!newCategory.trim()"
    >
      Agregar
    </ion-button>
  </ion-item>

  <!-- Lista -->
  <ion-list>
    <ion-item *ngFor="let category of categories">
      <!-- Modo edición -->
      <ng-container *ngIf="editingCategoryId === category.id; else normalView">
        <ion-input [(ngModel)]="editingName"> </ion-input>

        <ion-button
          color="success"
          fill="clear"
          slot="end"
          (click)="saveEdit()"
        >
          Guardar
        </ion-button>

        <ion-button
          color="medium"
          fill="clear"
          slot="end"
          (click)="cancelEdit()"
        >
          Cancelar
        </ion-button>
      </ng-container>

      <!-- Vista normal -->
      <ng-template #normalView>
        <ion-label>{{ category.name }}</ion-label>

        <ion-button
          *ngIf="category.id !== 'general'"
          fill="clear"
          slot="end"
          (click)="startEdit(category)"
        >
          Editar
        </ion-button>

        <ion-button
          *ngIf="category.id !== 'general'"
          color="danger"
          fill="clear"
          slot="end"
          (click)="deleteCategory(category.id)"
        >
          Eliminar
        </ion-button>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>
